/*Button Colors*/
.btn-redsox {
    color: #C60C30;
    background-color: #002244;
}

.btn-mets {
    color: #FF4A00;
    background-color: #002C74;
}

.btn-yankees {
    color: white;
    background-color: #001C43;
}

.table {
    width: auto;
}
