/*Button Colors*/
.table {
    width: auto;
}

.mets {
    color: #FF4A00;
    background-color: #002C74;
}

.yankees {
    color: white;
    background-color: #001C43;
}

.redsox {
    color: #C60C30;
    background-color: #002244;
}